language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
sudo: required
services: mysql
before_script: mysql -e 'create database werken;'
install:
  - composer install
  - cp .env.example .env
  - php artisan key:generate
  - php artisan migrate
  - php artisan db:seed
script: phpunit
